<h1><%= @genre.name %>の部屋一覧</h1>

<%= render 'rooms/error', room: @room %>

<div>
  <%= link_to '参加者一覧', members_genre_path(@genre.id) %>
</div>

<%= render 'favorite_genres/favorite', genre: @genre %>

<%= render 'rooms/new', room: @room,  genre: @genre %>

<% @genre.rooms.each do |room| %>
  <table>
    <thead>
      <th>部屋名</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to room_path(room.id) do %>
            <%= room.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>