<div>
  <p><%= message.words %></p>

  <div>
    <%= attachment_image_tag message, :post_image, :fill, 300, 300 %>
  </div>

  <div>
    <%= link_to genre_path(message.room.genre.id) do %>
      <%= message.room.genre.name %>
    <% end %>
  </div>

  <div>
    <%= link_to room_path(message.room.id) do %>
      <%= message.room.name %>
    <% end %>
  </div>
</div>

<div>
  <%= message.created_at.to_s(:datetime_jp) %>
</div>

<div>
  <div>
    <%= attachment_image_tag message.user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg' %>
  </div>
  <div>
    <%= link_to user_path(message.user.id) do %>
      <%= message.user.name %>
    <% end %>
    <%= message.user.personal_id %>
  </div>
</div>

<div id="favorite_button_<%= message.id %>">
  <%= render 'favorite_messages/favorite', message: message %>
</div>
