<div class="container">

  <div class="row">

    <div class="col-4 mt-4">

      <%= render 'comments/error', comment: @comment %>

      <%= render 'comments/new', message: @message, comment: @comment %>

    </div>

    <div class="col-6 offset-md-1 py-5">

      <h2>
        返信：<%= @comments.count %>
      </h2>

      <%= render 'messages/message', message: @message %>

      <% @comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>

    </div>

    <div>
      <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
    </div>


  </div>

</div>