<h2>新規登録</h2>

<%= flash[:notice] %>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :個人コード %><br />
    @<%= f.text_field :personal_id %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード再確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "サインアップ" %>
  </div>
<% end %>

<p>
  既に登録済の方は
  <%= link_to 'こちら', new_user_session_path %>
</p>

