<div class="card w-75 mt-3 shadow-lg">

  <p class="card-text p-4">
    <%= comment.words %>
  </p>

  <div class="d-block mx-auto">
    <%= attachment_image_tag comment, :post_image, :fill, 200, 200 %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div>
          <%= attachment_image_tag comment.user, :icon_image, :fill, 60, 60, format: 'jpeg', fallback: 'no_image.jpg' %>
        </div>
        <div>
          <p>
            <%= link_to user_path(comment.user.id) do %>
              <%= comment.user.name %>
            <% end %>
          </p>
          <p>
            @<%= comment.user.personal_id %>
          </p>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div>
            <%= comment.created_at.to_s(:datetime_jp) %>
          </div>
        </div>

        <div class="row mt-1">

          <div class="col-6">
            <% if current_user == comment.user %>
              <% if comment.is_read == true %>
                <p class="pt-1 pl-2">
                  既読
                </p>
              <% end %>
            <% end %>

            <% if current_user == comment.message.user %>
              <% if comment.is_read == false %>
                <%= button_to "既読",room_message_comment_read_path(comment.message.room.id, comment.message.id, comment.id), method: :patch, class: "btn btn-success" %>
              <% else %>
                <p>既読</p>
              <% end %>
            <% end %>

          </div>

        </div>

        <div class="row">

          <div class="col-6">

            <% if comment.user == current_user %>
              <%= link_to '削除', room_message_comment_path(comment.message.room.id, comment.message.id, comment.id), method: :delete, class: "btn btn-danger" %>
            <% end %>

            <% if current_user.admin? %>
              <%= link_to '削除', room_message_comment_path(comment.message.room.id, comment.message.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            <% end %>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>