<div class="container">

  <div class="row my-2">

    <h1>ユーザー情報編集</h1>

  </div>

  <h5 class="row my-2 alert">
    <% if flash[:danger] %>
      <% flash[:danger].each do |message| %>
        <%= message %><br>
      <% end %>
    <% end %>
  </div>

  <div class="row">

    <div class="m-2">
      <%= form_with model: @user, local: true do |f| %>

        <div class="mt-2">
          <%= f.label :名前 %>
          <%= f.text_field :name %>
        </div>

        <div class="mt-2">
          <%= f.label :個人コード %>
          @<%= f.text_field :personal_code %>
        </div>

        <div class="mt-2">
          <%= f.label :自己紹介 %>
          <%= f.text_area :introduction %>
        </div>

        <div class="mt-2">
          <%= f.label :アイコン %>
          <%= f.attachment_field :icon_image %>
        </div>

        <div class="mt-2">
          <%= f.submit '保存', class: "btn btn-success" %>
        </div>

      <% end %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-2 m-2">
      <%= link_to '戻る', user_path(@user.id), class: "btn btn-secondary" %>
    </div>

    <% if current_user.admin %>
    <% elsif @user == current_user %>
      <div class="col-2 m-2">
        <%= link_to '退会', user_confirm_path(current_user.id), class: "btn btn-danger" %>
      </div>
    <% else %>
    <% end %>

  </div>

</div>