<h1>ユーザー情報編集</h1>

<%= render 'error', user: @user %>

<div>
  <%= form_with model: @user, local: true do |f| %>

  <div>
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :個人コード %>
    @<%= f.text_field :personal_id %>
  </div>

  <div>
    <%= f.label :自己紹介 %>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :アイコン %>
    <%= f.attachment_field :icon_image %>
  </div>

  <div>
    <%= f.submit '保存' %>
  </div>

  <% end %>

</div>

<div>
  <%= link_to '戻る', user_path(@user.id) %>
</div>

<% if current_user.admin %>
<% else %>
  <% if @user == current_user %>
    <div>
      <%= link_to '退会', user_confirm_path(current_user.id) %>
    </div>
  <% end %>
<% end %>
