<div class="container">

  <h1>
    <%= link_to user_path(@user.id) do %>
      <%= @user.name %>
    <% end %>
    のお気に入りジャンル一覧
    (<%= @user.favorite_genres.count %>)
  </h1>

  <table class="table table-hover table-inverse">
    <thead>
      <th>ジャンル名</th>
      <th>更新日</th>
      <th></th>
    </thead>
    <tbody>
      <% @favorite_genres.each do |favorite_genre| %>
        <tr>
          <td>
            <%= link_to genre_path(favorite_genre.genre.id) do %>
              <%= favorite_genre.genre.name %>
            <% end %>
          </td>
          <td>
            <%= favorite_genre.genre.updated_at.to_s(:datetime_jp) %>
          </td>
          <td>
            <%= render 'favorite_genres/favorite', genre: favorite_genre.genre %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= paginate @favorite_genres, theme: 'twitter-bootstrap-4' %>
  </div>

</div>