<div class="container">

  <h1><%= @user.name %>のお気に入り部屋一覧</h1>
  
  <table class="table table-hover table-inverse">
    <thead>
      <th>部屋名</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @favorite_rooms.each do |favorite_room| %>
        <tr>
          <td>
            <%= link_to room_path(favorite_room.room.id) do %>
              <%= favorite_room.room.name %>
            <% end %>
          </td>
          <td>
            <%= link_to genre_path(favorite_room.room.genre.id) do %>
              <%= favorite_room.room.genre.name %>
            <% end %>
          </td>
          <td>
            <%= render 'favorite_rooms/favorite', room: favorite_room.room %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>