<h1><%= @user.name %></h1>
<div>
  <%= attachment_image_tag @user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg' %>
</div>

<table>
  <%= @user.name %><br>
  @<%= @user.personal_id %><br>
  <%= @user.introduction %><br>
<table>
  
<div>
  <%= link_to 'お気に入りジャンル一覧', favorite_genres_user_path(@user.id) %>
</div>

<div>
  <%= link_to 'お気に入り部屋一覧', favorite_rooms_user_path(@user.id) %>
</div>

<div>
  <%= link_to 'お気に入り投稿一覧', favorite_messages_user_path(@user.id) %>
</div>

<% if @user == current_user %>
  <div>
    <%= link_to '編集', edit_user_path(current_user) %>
  </div>
<% end %>


<% @user.messages.each do |message| %>
  <%= render 'messages/message', message: message %>
  <div>
    <%= link_to '詳細', room_message_path(message.room.id, message.id) %>
  </div>
<% end %>
