<h2>新規部屋作成</h2>

<div class="mt-2">
  
  <%= form_with model: room, local: true do |f| %>

  <%= f.hidden_field :genre_id, value: genre.id %>

  <div>
    <%= f.label :部屋名 %>
    <%= f.text_field :name %>
    <%= f.submit '作成', class: "btn btn-secondary" %>
  </div>

  <% end %>

</div>