<h2>部屋ランキング</h2>


<table class="table">
  <thead>
    <th>順位</th>
    <th>部屋名</th>
    <th>ジャンル名</th>
    <th>お気に入り数</th>
  </thead>
  <tbody>
    <% room_ranks.each.with_index(1) do |room, i| %>
      <tr>
        <td>
          第<%= i %>位
        </td>
        <td>
          <%= link_to room_path(room.id) do %>
            <%= room.name %>
          <% end %>
        </td>
        <td>
          <%= link_to genre_path(room.genre.id) do %>
            <%= room.genre.name %>
          <% end %>
        </td>
        <td>
          <%= room.favorite_rooms.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
