<h1><%= @room.name %>をお気に入りしたユーザー一覧</h1>

<table>
  <thead>
    <th>ユーザー名</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @favorite_rooms.each do |favorite_room| %>
      <tr>
        <td>
          <%= link_to user_path(favorite_room.user.id) do %>
            <%= favorite_room.user.name %>
          <% end %>
        </td>
        <td>
          <%= favorite_room.user.introduction %>
        </td>
        <td>
          <%= link_to 'お気に入りジャンル', favorite_genres_user_path(favorite_room.user.id) %>
        </td>
        <td>
          <%= link_to 'お気に入り部屋', favorite_rooms_user_path(favorite_room.user.id) %>
        </td>
      </tr>
   <% end %>
  </tbody>
</table>