<div class="container">
  
  <div class="row mt-2">

    <h1><%= @room.name %>をお気に入りしたユーザー一覧</h1>
    
  </div>
  
  <div class="row mt-2">

    <table class="table table-hover table-inverse">
      <thead>
        <th></th>
        <th>ユーザー名</th>
        <th>個人コード</th>
        <th>紹介文</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @favorite_rooms.each do |favorite_room| %>
          <tr>
            <td>
              <div>
                <%= attachment_image_tag favorite_room.user, :icon_image, :fill, 80, 80, format: 'jpg', fallback: 'no_image.jpg' %>
              </div>
            </td>
            <td>
              <%= link_to user_path(favorite_room.user.id) do %>
                <%= favorite_room.user.name %>
              <% end %>
            </td>
            <td>
              @<%= favorite_room.user.personal_code %>
            </td>
            <td>
              <%= favorite_room.user.introduction %>
            </td>
            <td>
              <%= link_to 'お気に入りジャンル', favorite_genres_user_path(favorite_room.user.id) %>
            </td>
            <td>
              <%= link_to 'お気に入り部屋', favorite_rooms_user_path(favorite_room.user.id) %>
            </td>
            <td>
              <%= render 'relationships/follow_button', user: favorite_room.user %>
            </td>
          </tr>
       <% end %>
      </tbody>
    </table>
    
    <div>
      <%= paginate @favorite_rooms, theme: 'twitter-bootstrap-4' %>
    </div>
  
  </div>

</div>