<div class="container">
  
  <div class="row mt-2">
    
    <h1><%= @room.name %>の投稿一覧</h1>
    
  </div>
  
  <div class="row mt-2">
    
    <div class="p-2 my-auto">
      <%= link_to '参加者一覧', members_room_path(@room.id) %>
    </div>
    
    <div class="p-2 my-auto">  
      <%= render 'favorite_rooms/favorite', room: @room %>
    </div>
    
  </div>
  
  <div class="row mt-2">
    
    <div class="col-4">
    
      <%= render 'messages/error', message: @message %>
      
      <%= render 'messages/new', message: @message, room: @room %>
      
    </div>
    
    <div class="col-6 offset-md-1">
    
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
      
    </div>
  
  </div>

</div>