<h1><%= @room.name %>の投稿一覧</h1>

<%= render 'messages/error', message: @message %>

<%= render 'messages/new', message: @message, room: @room %>

<% @room.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
    <%= link_to '詳細', room_message_path(@room.id, message.id) %>
<% end %>
