<h1>
  <%= link_to '趣味の間', root_path %>
</h1>

<% if user_signed_in? %>

  <% if current_user.admin? %>
    <p>管理者モード</p>
  <% end %>

  <%= render 'searches/search_form' %>

  <ul>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </ul>
  <ul>
    <%= link_to 'ジャンル一覧', genres_path %>
  </ul>
  <ul>
    <%= link_to '部屋一覧', rooms_path %>
  </ul>
  <ul>
    <% if current_user.admin? %>
      <%= link_to 'ユーザー一覧', users_path %>
    <% else %>
      <%= link_to user_path(current_user.id) do %>
        <%= current_user.name %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <ul>
    <%= link_to '新規登録', new_user_registration_path %>
  </ul>
  <ul>
    <%= link_to 'ログイン', new_user_session_path %>
  </li>
<% end %>